./caffe/*
./tiles/*
./debug/*
./dataset/data
*.pyc
*.npy
*.npz
*.pkl
*.xlsx
*.xls
*.caffemodel
*.solverstate
*.png
*.jpg
*.tar.gz
 __pycache__

events*
snapshot*
checkpoint*
*.svs
*.tfrecord

dataset/CASE_GRADE_DICT.py
dataset/CASE_LABEL_DICT.py